* {
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", monospace;
}

.post {
  cursor: pointer;
  margin-bottom: 50px;
  text-align: center;
  padding: 0 40px;
}
.post__date {
  display: block;
  width: 100%;
  font-family: "Inconsolata", monospace;
  font-size: 0.5em;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
}
.post__title {
  font-family: "Nunito", sans-serif;
  font-size: 2em;
  padding: 12px 30px;
  font-weight: bold;
  position: relative;
}
.post__title:after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0.3s ease 0s;
  content: "";
  background: #fbf9bd;
  transform: skew(-20deg);
}
.post__title:hover:after {
  width: 100%;
}
.post:last-child {
  margin-bottom: 0;
}

.post-list {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.3s ease 0s;
  transform: translateY(0px);
  visibility: visible;
}
.post-list--hide {
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
}

.post-view {
  transition: 0.3s ease 0s;
  width: 100%;
  min-height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-view__date {
  font-family: "Inconsolata", monospace;
  margin-bottom: 60px;
  transform: translateY(45px);
  transition: transform 0.3s ease 0s;
}
.post-view__image {
  position: fixed;
  transition: all 0.5s ease 0s;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  width: 800px;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  height: 450px;
  top: 50%;
  margin-top: -225px;
}
.post-view__container {
  position: absolute;
  top: 100px;
  width: 100%;
  max-width: 900px;
  z-index: 99;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.post-view__content {
  background: #fff;
  padding: 40px;
  margin-bottom: 80px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  transform: translateY(85px);
  transition: transform 0.3s ease 0s;
}
.post-view__content p {
  font-size: 1.125em;
  margin-bottom: 30px;
  line-height: 25px;
}
.post-view__content p:last-child {
  margin-bottom: 0;
}
.post-view--active .post-view__image {
  background-position: top;
  transition: all 0.6s ease 0s;
  width: 100%;
  height: 520px;
  margin-top: 0;
  top: 0;
}
.post-view__title {
  font-size: 2.875em;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  margin: 30px 0 15px 0;
  transform: translateY(45px) scaleY(0);
  transition: transform 0.3s ease-out 0s;
}
.post-view--ready .post-view__container {
  opacity: 1;
}
.post-view--ready .post-view__date, .post-view--ready .post-view__content {
  transform: translateY(0px);
}
.post-view--ready .post-view__title {
  transform: translateY(0px) scaleY(1);
}

.post-controls {
  position: fixed;
  right: 20px;
  flex-direction: column;
  top: 20px;
  display: flex;
}

.post-control {
  cursor: pointer;
  font-size: 1.375em;
  background: #fbf9bd;
  margin-bottom: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 43px;
  transition: all 0.3s ease 0s;
}
.post-control:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.post-control--close {
  font-size: 2em;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.post-control--close:hover {
  background: #000;
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 13px;
  }

  .post-controls {
    bottom: 10px;
    z-index: 99;
    top: auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 0 5px;
    justify-content: center;
    margin: auto;
    border-radius: 30px;
    height: 55px;
    align-items: center;
    flex-direction: row-reverse;
  }

  .post-control {
    margin: 0 5px;
  }
  .post-control--close {
    background: #000;
  }

  .post-view__container {
    padding: 0 30px;
  }
}
.logo {
  cursor: pointer;
  position: fixed;
  left: 30px;
  top: 30px;
  z-index: 9;
  width: 50px;
  height: 50px;
  transition: 0.3s ease 0s;
}
.logo--absolute {
  position: absolute;
}
.logo--absolute svg {
  fill: #fbf9bd;
}
.logo--active svg {
  fill: #fff;
}
.logo svg {
  width: 100%;
  transition: all 0.3s ease 0s;
}