*,*:after,*:before{
  box-sizing:border-box;
}
html,body{
  height:100%;
}
body{
  margin:0;
  padding:0;
  position:relative;
  background:#22142b;
}
h3{
  font-size: 25px;
  font-weight: bold;
  font-family: serif;
  color: #ECF0F1;
  text-align: center;
}

.thumbnail{
  position:relative;
  display: block;
  width: 90%;
  overflow:hidden;
  margin: 0 auto;
  margin-top: 60px;
}
.thumbnail img {
  display: block;
  width: 100%;
  cursor: crosshair;
  border: 5px solid #fff;
  margin: 0 auto;
}
.result{
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin: 0;
  padding: 10px 15px;
  display: block;
}
.result span {
  display: block;
  font-size: 13px;
}
.preview{
  position:absolute;
  top:5px;
  right:5px;
  display:block;
  margin:0;
  padding:0;
  width:50px;
  height:50px;
  border: 5px solid #FFF;
  border-right: none;
  border-top: none;
}
#cs{ 
  display:none;
}
@media (min-width:768px){
  .thumbnail{
    width:85%;
  }
}
@media (min-width:1024px){
  .thumbnail{
    width:55%;
  }
}