/* MARK:字体 */
@font-face {
	font-family: "dancing";
	src: url("./source/font/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}
@font-face {
	font-family: "sister";
	src: url("./source/font/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf");
}
@font-face {
	font-family: "Neucha";
	src: url("./source/font/Neucha.ttf");
}

/* MARK: html主要设置 */
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	/* border: 1px solid yellow; */
}
body {
	/* z-index: 0; */
	display: flex;
	flex-direction: column;
	/* justify-content: flex-start; */
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-image: url(./source/pic/background.webp);
	background-size: auto 125%;
	background-color: #f8f4e8;
}
h0 {
	font-family: "sister";
	align-self: flex-end;
	font-size: 50px;
}

h1 {
	font-family: "Neucha", "sister", sans-serif;
	align-self: flex-end;
	font-size: 40px;
}
h2 {
	font-family: "playfair_display", serif;
	font-size: 30px;
	font-weight: 600;
}
h3 {
	font-family: "dancing";
	font-size: 25px;
}
a {
	text-decoration: none;
	color: #41403e;
}
.testborder {
	border: 1px solid bisque;
}
/* MARK:组件   */
/* MARK:paperbtn */
.paperbtn {
	font-family: "Neucha", sans-serif;
	line-height: 1.15;
	text-decoration: none;
	font-size: 25px;
	padding: 4px 10px 4px 10px;
	border: 2px solid;
	border-bottom-left-radius: 15px 255px;
	border-bottom-right-radius: 225px 15px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	box-shadow: 10px 19px 17px -13px rgba(0, 0, 0, 0.2);
	color: #41403e;
	background-color: #f7f4e9;
	transition: all 235ms ease 0s;
}
.paperbtn:hover {
	/* color: #f7f4e9;
	background-color: #41403e; */
	transform: translate3d(0, 2px, 0);
	box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
}
.paperbtn:active {
	border-color: royalblue;
	/* transition: none; */
}
/* MARK:papercard */
.papercard {
	width: 200px;
	height: auto;
	transition: all 235ms ease 0s;
	box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: #f7f4ea;
	will-change: transform;
	word-wrap: break-word;
}
.papercard-text {
	font-family: "Neucha", sans-serif;
	font-size: 25px;
	text-align: center;
	margin: 3px 0 3px 0;
}
.papercard:hover {
	transform: translate3d(0, 2px, 0);
	box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
}

/* MARK:header footer 整体设置 页面宽度边距 */
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	max-width: 1200px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-block-start: auto;
}
.hearder-logo {
	display: flex;
	flex-direction: column;
	min-width: 200px;
	height: 100px;
	margin: 20px 0px 10px 20px;
}
.hearder-logo-shushu {
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
	/* overflow: hidden; */
}
.header-block {
	flex: 1;
}
/* 底部 */
footer {
	display: flex;
	flex-direction: column;
	padding: 10px 0px 10px 0px;
	text-align: center;
	font-size: 12px;
	color: #999;
}
.link-frend {
	color: #999;
}

/* MARK:main内容 整体设置 */
main {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 1200px;
	flex: 1;
}
/* 房子和home */
.main-homebtn {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.main-homebtn-a {
	margin-right: 5px;
	margin-top: -10px;
}

/* 标题 */
.main-title {
	height: auto;
	text-align: center;
	margin: 10px 0px 10px 0px;
}

/* MARK:about 文字部分 */
.main-body {
	margin: 20px 45px 20px 45px;
}

/* MARK:index 菜单 */
.main-menu {
	margin-top: 55px;
}
.menu-button {
	color: rgb(9, 8, 8);
}
.menu-item {
	text-align: center;
	margin: 15px 0 15px 0;
}
.menu-item-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	line-height: 1.15;
	font-family: "droid_serif", serif;
	font-size: 28px;
}
.menu-item-text-box:hover::after {
	/* position:absolute; */
	content: "";
	display: flex;
	width: 100%;
	height: 2px;
	animation: backcolor 200ms linear;
	background-color: rgb(13, 94, 94);
}
@keyframes backcolor {
	from {
		transform: scaleX(0);
		background-color: rgb(196, 133, 133);
	}
	to {
		transform: scaleX(1);
		background-color: rgb(20, 187, 187);
	}
}

/* MARK：gallary 瀑布流展示 */
@media (max-width: 700px) {
	.main-gallary {
		columns: 2;
		column-gap: 20px;
		/* background-color: red; */
	}
}
@media (max-width: 420px) {
	.main-gallary {
		columns: 1;
		column-gap: 20px;
		/* background-color: blue; */
	}
}
@media (min-width: 701px) {
	.main-gallary {
		columns: 3;
		column-gap: 25px;
	}
}
@media (min-width: 992px) {
	.main-gallary {
		columns: 3;
		column-gap: 25px;
		/* background-color: green; */
	}
}
@media (min-width: 1600px) {
	.main-gallary {
		columns: 4;
		column-gap: 30px;
	}
}
.main-gallary {
	margin: 20px 45px 20px 45px;
}
.gallary-item {
	display: inline-block;
	margin: 0 0 30px 0;
	border: solid 2px black;
	padding: 6px 6px 3px 6px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	background-color: #f8f4e8;
	transition: all 0.25s ease-in-out;
}
.gallary-img {
	width: 100%;
	border-radius: 8px;
}
.gallary-img-view {
	object-fit: contain;
}
.gallary-item:hover {
	border-color: coral;
}

/* MARK: modal的弹窗预览效果 */
#modal-container {
	position: fixed;
	/* table不能改变 */
	display: table;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform: scale(0);
	z-index: 1;
	color: rgb(252, 43, 43);
}
#modal-container .modal-background {
	display: table-cell;
	/* 这里添加modal背景颜色 */
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	vertical-align: middle;
}
#modal-container .modal-background .modal {
	padding: 0 20px 0 20px;
	display: inline-block;
	border-radius: 3px;
	font-weight: 300;
	position: relative;
}
/* html.modal-active, */
body.modal-active {
	overflow: hidden;
}

/* modal动画 one */
@keyframes unfoldIn {
	0% {
		transform: scaleY(0.005) scaleX(0);
	}
	50% {
		transform: scaleY(0.005) scaleX(1);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes unfoldOut {
	0% {
		transform: scaleY(1) scaleX(1);
	}
	50% {
		transform: scaleY(0.005) scaleX(1);
	}
	100% {
		transform: scaleY(0.005) scaleX(0);
	}
}
@keyframes zoomIn {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes zoomOut {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
#modal-container.one {
	transform: scaleY(0.01) scaleX(0);
	animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal {
	transform: scale(0);
	animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out {
	transform: scale(1);
	animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
	animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

/* MARK:pjax页面切换 与动画 */
.js-Pjax {
	position: relative;
}
.js-Pjax-child {
	width: 100%;
}
.js-Pjax-remove {
	position: absolute;
	left: 100%;
}
.Animated {
	animation-fill-mode: both;
	animation-duration: 1s;
}
.Animated--reverse {
	animation-direction: reverse;
}
.Animate--fast {
	animation-duration: 0.5s;
}
.Animate--noDelay {
	animation-delay: 0s !important;
}

.Animated-easeOut {
	animation-fill-mode: both;
	animation-name: "Animation-easeOut";
	animation-duration: 0.1s;
}
.Animated-easeIn {
	animation-fill-mode: both;
	animation-name: "Animation-easeIn";
	animation-duration: 0.4s;
	animation-delay: 200ms;
}
@keyframes Animation-easeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes Animation-easeOut {
	0% {
		opacity: 0;
		scale: 0;
	}
	100% {
		opacity: 0;
		scale: 0;
	}
}

/* MARK: 相关屏幕大小 */
/*MEDIAQUERIES*/
/* @media only all and (max-width: 1300px) {
	.weatherforcastbox {
		display: none;
	}
}
@media only all and (max-width: 1200px) {
	.collumn {
		width: 31%;
	}
}
@media only all and (max-width: 900px) {
	.collumn {
		width: 47%;
	}
}
@media only all and (max-width: 600px) {
	.collumn {
		width: 100%;
	}
	.collumn + .collumn {
		border-left: none;
		border-bottom: 1px solid #2f2f2f;
	}
	header {
		max-width: 320px;
		font-size: 60px;
		line-height: 54px;
		overflow: hidden;
	}
} */
